body{
  margin: 0;
  padding: 0;
  padding-bottom: 2vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #ffffff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid black;
}

.logo {
  border: 1px solid black;
}

.logo img{
  max-width: 100%;
  height: auto;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  padding-right: 2vw;
  border: 1px solid green;
}

.nav-items{
  height: 10vh;
  width: 300px;
  border: 1px solid red;
}

.nav-items:last-child{
  background-color: #00a7df;
  transform: skewX(150deg);
}

.nav-links div li {
  list-style: none;
  font-style: normal;
}

/* .nav-links div li:last-child{
  color: #fff;
  background-color: #00a7df;
  transform: skewX(150deg)
} */

.nav-links div li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.8em;
  font-style: normal;
}

/* .nav-links  div li:last-child a{
  color: #fff;
  background-color: #00a7df;
  transform: skewX(150deg)
} */

.nav-links :hover {
  color: #00a7df;
}


.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #e4e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .main-section {
    min-height: 100vh;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.main-section {
  min-height: 100%;
}
.main-section div div{
  width: 280px;
  height: 180px;
  display: block;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  /* margin: 1vh 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.main-section div div .image {
  border: 1px solid #00a7df;
}
.main-section div div .image img {
  max-width: 120%;
}

@keyframes textOverImage {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
